*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 195px;
    height: 100%;
    background-color: #F5A006;
    border-radius: 0 37px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 34px;
}
.menu_logo{
    width: 86px;
    height: 82px;
}
.menu_pages{
    width: 100%;
    padding-left: 30px;
    margin-top: 60px;
}
.menu_page{
    width: 100%;
    height: 35px;
    border-radius: 17px 0 0 17px;
    padding: 7px 7px 7px 12px;
    font-size: 19px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.menu_page img{
    width: 20px;
    height: 22px;
}
a{
    text-decoration: none;
}
#homePage{
    color: #fff;
    margin-bottom: 16px;
}
#adminPage{
    background-color: #fff;
    color: #F5A006;
}
.menu_logIn{
    width: 145px;
    height: 103px;
    border-radius: 6px;
    background-color: #D9D9D9;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.72);
    margin-top: 310px;
}
.logInIcon{
    width: 32px;
    height: 32px;
}
.menu_logIn_nickName{
    font-size: 15px;
    font-weight: 600;
    color: #000;
    margin-top: 8px;
}
.menu_logIn_gmail{
    font-size: 10px;
    font-weight: 600;
    color: #676767;
}
.logOutIcon{
    width: 16px;
    height: 14px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}
.homePage{
    width: 1300px;
    padding: 36px;
}
.homePage_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.homePage_title{
    color: #F5A006;
    font-size: 32px;
    font-weight: 700;
}
.title_person{
    width: 23px;
    height: 25px;
}
.homePage_headerCon{
    width: 120px;
    display: flex;
    justify-content: space-between;
}
.homePage_notifications{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    position: relative;
}
.bell{
    width: 28px;
    height: 32px;
}
.homePage_notificationsCircle{
    width: 9px;
    height: 9px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.72);
    position: absolute;
    top: 7px;
    right: 10px;
    background-color: #000;
    border-radius: 50%;
}
.homePage_settings{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    position: relative;
    background-color: #F5A006;
}
.gar{
    width: 32px;
    height: 32px;
}
.homePage_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.homePage_leftCon{
    width: 50%;
}
.homePage_addExcusesCon{
    width: 100%;
    display: flex;
    flex-direction: column;
}
h3{
    font-size: 26px;
    font-weight: 500;
    color: #F5A006;
}
textarea{
    resize: none;
    width: 492px;
    height: 143px;
    border-radius: 12px;
    background-color: #DDDDDD;
    margin-top: 15px;
    padding: 10px;
}
#createExcuse{
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5A006;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.72);  
    transition: 0.5s ease; 
    cursor: pointer;
    margin-top: 10px;
}
#createExcuse:hover{
    background-color: #fff;
    box-shadow: 0 0 1px 1px #F5A006;   
    color: #F5A006;
}
.homePage_rightCon{
    width: 50%;
}
.excusesContainer{
    width: 100%;
    max-height: 520px;
    overflow-y: auto;
    padding: 10px 0 0 0;
}
.excuse{
    width: 98%;
    height: 50px;
    border-radius: 12px;
    background-color: #fff;
    border: 2px rgba(140, 140, 140, 0.78) solid;  
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
    color: #8C8C8C;
}
.excuse_action{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.excuse_edit{
    transition: 0.5s ease;
}
.excuse_edit img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.excuse_delete{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}
.excuse_delete img{
    width: 88%;
}
.excuse_actions{
    width: 70px;
    display: flex;
    justify-content: space-between;
}
.excuse_deleteTop{
    position: absolute;
    top: 0;
    transition: 0.5s ease;
}
.delete-hover{
    transform: rotate(-20deg);
    top: -5px;
    left: -2px;
}